@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("index_background.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "PT Sans", sans-serif;
}

/* Change color of links on hover */
a:hover {
    color: white;
}

h1 {
    color: antiquewhite;
    font-size: 84px;
    float: right;
    margin-top: 225px;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

h2 {
    color: antiquewhite;
    font-size: 24px;
    float: right;
    margin-left: 64px;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}